.comment{
    position: relative;
    bottom: -90px;
    min-width: 10px;
    min-height: 100px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
    height: 60px;
}

#point {
    position: relative;
    top: -57px;
    left: 90px;
   
}